<section class="berry-show">
  <div class="berry-form">
    <%= image_tag('question-mark.webp') %>
    <%= form_with url: pokeknow_berry_path(:p), method: :get do |form| %>
      <%= form.text_field :p, placeholder: "Search for berry", class: "berry input" %>
      <%= form.submit "Search", name: '', class: "berry button" %>
    <% end %>
  </div>

  <div class="berry-details">
    <div class="left-screen">
      <div class="left-top">
        <p><%= @specific_berry["berry_category"].titleize %></p>
      </div>
      <div class="left-bottom">
        <% if @specific_berry["berry_sprite"] != nil %>
          <img src="<%= @specific_berry["berry_sprite"] %>" alt="berry sprite" class="berry-image">
        <% end %>
        <%= image_tag 'berry-pouch.png' %>
      </div>
    </div>
    <div class="right-screen">
      <h1><%= @specific_berry["name"].titleize %> Berry</h1>
      <p><%= @specific_berry["berry_flavor_text"] %></p>
      <p><%= @specific_berry["berry_effect_entries"] %></p>
      <p>Firmness: <%= @specific_berry['firmness']['name'] %> </p>
      <p>Flavors:</p>
      <p>
        <% @specific_berry['flavors'].each do |flavor| %>
          <li> <%= flavor['flavor']['name'] %> </li>
        <% end %>
      </p>
    </div>
  </div>
</section>
