<h1> This is Poke-know home page </h1>

<%= form_with url: pokeknow_pokemon_index_path, method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for pokemon" %>
  <%= form.submit "Search" %>
<% end %>
<br>
<%= form_with url: pokeknow_item_index_path, method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for item" %>
  <%= form.submit "Search" %>
<% end %>
<br>
<%= form_with url: pokeknow_berry_index_path, method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for berry" %>
  <%= form.submit "Search" %>
<% end %>
<br>
<%= form_with url: pokeknow_machine_index_path, method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for tm" %>
  <%= form.submit "Search" %>
<% end %>
<br>
<%= form_with url: pokeknow_move_index_path, method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for move" %>
  <%= form.submit "Search" %>
<% end %>