<section class="pokeknow">
  <div class="title">
    <h1> This is Poke-know home page </h1>
    <p> Input your search query on the following forms to be redirected. </p>
    <p> The data utilized in this project came from <%= link_to "PokeApi", "https://pokeapi.co/docs/v2", target: "_blank" %>. </p>
    <p> You can check out PokeApi's documentations to dig deeper on how the API works. </p>
    <p> Fair Use </p>
  </div>

  <div class="top">
    <div class="pokemon-form">
      <%= image_tag('question-mark.webp') %>
      <%= form_with url: pokeknow_pokemon_path(:p), method: :get do |form| %>
        <%= form.text_field :p, placeholder: "Search for pokemon", class: "pokemon input" %>
        <%= form.submit "Search", name: '', class: "pokemon button" %>
      <% end %>
    </div>
  </div>
  <div class="mid">
    <div class="move-form">
      <%= image_tag('question-mark.webp') %>
      <%= form_with url: pokeknow_move_path(:p), method: :get do |form| %>
        <%= form.text_field :p, placeholder: "Search for move", class: "move input" %>
        <%= form.submit "Search", name: '', class: "move button" %>
      <% end %>
    </div>
    
    <div class="type-form">
      <%= image_tag('question-mark.webp') %>
      <%= form_with url: pokeknow_type_path(:p), method: :get do |form| %>
        <%= form.text_field :p, placeholder: "Search for type", class: "type input" %>
        <%= form.submit "Search", name: '', class: "type button" %>
      <% end %>
    </div>

    <div class="ability-form">
      <%= image_tag('question-mark.webp') %>
      <%= form_with url: pokeknow_ability_path(:p), method: :get do |form| %>
        <%= form.text_field :p, placeholder: "Search for ability", class: "ability input" %>
        <%= form.submit "Search", name: '', class: "ability button" %>
      <% end %>
    </div>  
  </div>
  <div class="bot">
    <div class="machine-form">
      <%= image_tag('question-mark.webp') %>
      <%= form_with url: pokeknow_machine_path(:p), method: :get do |form| %>
        <%= form.text_field :p, placeholder: "Search for tm", class: "machine input" %>
        <%= form.submit "Search", name: '', class: "machine button" %>
      <% end %>
    </div>

    <div class="item-form">
      <%= image_tag('question-mark.webp') %>
      <%= form_with url: pokeknow_item_path(:p), method: :get do |form| %>
        <%= form.text_field :p, placeholder: "Search for item", class: "item input" %>
        <%= form.submit "Search", name: '', class: "item button" %>
      <% end %>
    </div>

    <div class="berry-form">
      <%= image_tag('question-mark.webp') %>
      <%= form_with url: pokeknow_berry_path(:p), method: :get do |form| %>
        <%= form.text_field :p, placeholder: "Search for berry", class: "berry input" %>
        <%= form.submit "Search", name: '', class: "berry button" %>
      <% end %>
    </div>
  </div>
</section>