<%= link_to 'Home', root_path %>
<br>
<%= form_with url: pokeknow_move_path(:p), method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for move" %>
  <%= form.submit "Search", name: '' %>
<% end %>
<br>
<h1> <%= @specific_move["move_name"] %> </h1> 
<p>Power: <%= @specific_move["move_power"] != nil ? @specific_move["move_power"] : 0 %> </p> 
<p>Accuracy: <%= @specific_move["move_accuracy"] != nil ? @specific_move["move_accuracy"] : 0 %> </p> 
<p>PP: <%= @specific_move["move_pp"] %> </p> 
<%= link_to "#{@specific_move["move_type"]} type", pokeknow_type_path(p: @specific_move["move_type"]) %>
<p>Class: <%= @specific_move["move_class"] %> </p> 
<p>Priority: <%= @specific_move["move_priority"] %> </p> 
<p> <%= @specific_move["move_flavor_text"] %> </p> 
<p> <%= @specific_move["move_effect"] %> </p> 