<section class="type-show">
  <div class="type-form">
    <%= image_tag('question-mark.webp') %>
    <%= form_with url: pokeknow_type_path(:p), method: :get do |form| %>
      <%= form.text_field :p, placeholder: "Search for type", class: "input" %>
      <%= form.submit "Search", name: '', class: "button" %>
    <% end %>
  </div>

  <div class="top-screen">
    <h1> <%= @specific_type['name'].titleize %> type </h1>
    <div class="<%= @specific_type['name'] %>"></div>
  </div>
  <div class="bottom-screen <%= @specific_type['name'] %>">
    <div class="offensive">
      <h1>When attacking, deals:</h1>
      <table>
        <thead>
          <tr>
            <th>2x Damage to</th>
            <th>1/2 Damage to</th>
            <th>0 Damage to</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% unless @specific_type['damage_relations']['double_damage_to'].length == 0 %>
                <% @specific_type['damage_relations']['double_damage_to'].each do |to| %>
                  <%= link_to "#{to['name'].titleize}", pokeknow_type_path(p: to['name']), class: "#{to['name']}" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% unless @specific_type['damage_relations']['half_damage_to'].length == 0 %>
                <% @specific_type['damage_relations']['half_damage_to'].each do |to| %>
                  <%= link_to "#{to['name'].titleize}", pokeknow_type_path(p: to['name']), class: "#{to['name']}" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% unless @specific_type['damage_relations']['no_damage_to'].length == 0 %>
                <% @specific_type['damage_relations']['no_damage_to'].each do |to| %>
                  <%= link_to "#{to['name'].titleize}", pokeknow_type_path(p: to['name']), class: "#{to['name']}" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="defensive">
      <h1>When defending, receives:</h1>
      <table>
        <thead>
          <tr>
            <th>2x Damage from</th>
            <th>1/2 Damage from</th>
            <th>0 Damage from</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% unless @specific_type['damage_relations']['double_damage_from'].length == 0 %>
                <% @specific_type['damage_relations']['double_damage_from'].each do |from| %>
                  <%= link_to "#{from['name'].titleize}", pokeknow_type_path(p: from['name']), class: "#{from['name']}" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% unless @specific_type['damage_relations']['half_damage_from'].length == 0 %>
                <% @specific_type['damage_relations']['half_damage_from'].each do |from| %>
                  <%= link_to "#{from['name'].titleize}", pokeknow_type_path(p: from['name']), class: "#{from['name']}" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% unless @specific_type['damage_relations']['no_damage_from'].length == 0 %>
                <% @specific_type['damage_relations']['no_damage_from'].each do |from| %>
                  <%= link_to "#{from['name'].titleize}", pokeknow_type_path(p: from['name']), class: "#{from['name']}" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
