<%= link_to 'Home', root_path %>

<%= form_with url: pokeknow_pokemon_index_path, method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for pokemon" %>
  <%= form.submit "Search" %>
<% end %>

<h1> <%= @specific_pokemon['name'] %> </h1>
<img src="<%= @specific_pokemon['sprites']['front_default'] %>" alt="pokemon sprite">