<section class="pokemon-show">
  <div class="pokemon-form">
    <%= image_tag('question-mark.webp') %>
    <%= form_with url: pokeknow_pokemon_path(:p), method: :get do |form| %>
      <%= form.text_field :p, placeholder: "Search for pokemon", class: "pokemon input" %>
      <%= form.submit "Search", name: "", class: "pokemon button" %>
    <% end %>
  </div>

  <div class="pokemon-details">
    <% unless @specific_pokemon['id'].to_i <= 1 %>
      <%= link_to "<", pokeknow_pokemon_path(p: (@specific_pokemon['id'].to_i - 1).to_s), class: "previous" %>
    <% end %>
    <% unless @specific_pokemon['id'].to_i >= 890 %>
      <%= link_to ">", pokeknow_pokemon_path(p: (@specific_pokemon['id'].to_i + 1).to_s), class: "next" %>
    <% end %>
    <div class="left-screen">
      <div class="left-top">
        <img src="<%= @specific_pokemon["pokemon_official_sprite"] %>" alt="pokemon sprite">
      </div>
      <div class="left-bottom">
        <% @specific_pokemon["pokemon_sprites"].each do |sprite| %>
          <% unless sprite == nil %>
            <img src="<%= sprite %>" alt="pokemon sprite">
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="right-screen">
      <h1><%= @specific_pokemon['name'].titleize %></h1>
      <h2>The <%= @specific_pokemon['pokemon_genus'] %></h2>
      <h2>Pokedex No. <%= @specific_pokemon['pokedex_number'] %> | <%= @specific_pokemon['pokemon_generation'] %></h2>
      <div class="types">
        <% @specific_pokemon['types'].each do |type| %>
          <%= link_to "#{type['type']['name'].titleize}", pokeknow_type_path(p: type['type']['name']), class: "#{type['type']['name']}" %>
        <% end %>
      </div>
      <p>Abilities</p>
      <div class="abilities">
        <% @specific_pokemon['abilities'].each do |ability| %>
         <li> <u><%= link_to "#{ability["ability"]['name'].titleize}", pokeknow_ability_path(p: ability["ability"]['name']), class: "ability" %></u> <%= ability["is_hidden"] ? "- hidden ability" : "" %> </li>
        <% end %>
      </div>
      <p>Stats</p>
      <% @specific_pokemon['stats'].each do |stat| %>
        <li class="stats"> <%= stat['stat']['name'].titleize %> : <%= stat['base_stat'] %> </li>
      <% end %>
    </div>
  </div>
</section>
