<%= link_to 'Home', root_path %>
<br>
<%= form_with url: pokeknow_item_path(:p), method: :get do |form| %>
  <%= form.text_field :p, placeholder: "Search for item" %>
  <%= form.submit "Search", name: '' %>
<% end %>
<br>
<h1> <%= @specific_item["item_name"] %> </h1>
<% if @specific_item["item_sprite"] != nil %>
  <img src="<%= @specific_item["item_sprite"] %>" alt="item sprite">
<% end %>
<%= @specific_item["item_category"] %>
<p>Cost: <%= @specific_item["item_cost"] %> </p>
<%= @specific_item["item_flavor_text"] %>
<p>Effect: <%= @specific_item["item_effect"] %> </p>