<section class="ability-show">
  <div class="ability-form">
    <%= image_tag('question-mark.webp') %>
    <%= form_with url: pokeknow_ability_path(:p), method: :get do |form| %>
      <%= form.text_field :p, placeholder: "Search for ability", class: "ability input" %>
      <%= form.submit "Search", name: '', class: "ability button" %>
    <% end %>
  </div>

  <div class="ability-details">
    <div class="title">
      <div class="word">Ability</div>
      <div class="value"><%= @specific_ability["name"].titleize %></div>
    </div>
    <div class="text">
      <p> <%= @specific_ability['ability_flavor_text_entries'] %> </p>
      <% if @specific_ability['ability_effect_entries'] != nil %>
        <p> <%= @specific_ability['ability_effect_entries']['effect'] %> </p>
      <% end %>
    </div>
  </div>

  <div class="additional-details">
    <div class="title">
      <div class="word">Compatible Pokemon</div>
      <div class="value"> <%= @specific_ability['pokemon'].length %> </div>
    </div>
    <div class="pokemon-grid">
      <% @specific_ability['pokemon'].each do |pokemon| %>
        <u><%= link_to "#{pokemon['pokemon']['name'].titleize}", pokeknow_pokemon_path(p: pokemon['pokemon']['name']) %></u> 
      <% end %>
    </div>
  </div>
</section>